<!--
        Copyright (c) 2018-2020 Dave Weilert

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>
    <div class="wrapper">
    
        <div id="main">
            <div id="header-bar" class="header">
                <!-- <span onclick="printDiv()"> -->
                <span onclick="getDocumentation('toc')">
                <img style='vertical-align:middle;' src='images/vpk.png' width='40' height='40'  >
                <div style='vertical-align:middle; display:inline;' class='vpkcolor vpkfont-lg pl-2'>
                    <span class="font-weight-bold">V</span>isual 
                    <span class="font-weight-bold">p</span>arsed 
                    <span class="font-weight-bold">K</span>ubernetes
                </div>
                </span>
                <div class="header-right">
                    <a href="javascript:getDocumentation()">
                        <i class="fas fa-question mr-3 vpkcolor"></i>
                    </a>
                    <a href="javascript:about()">
                        <i class="fas fa-info-circle fa-lg mr-3 vpkcolor"></i>
                    </a>
                    <a href="javascript:showConfig()">
                        <i class="fas fa-cog fa-lg vpkcolor"></i>
                    </a>
                </div>
            </div> 

            <div id="datasource" class="header vpkfont-md">
                <select id="pickDataSource" 
                    class="vpkfont-md"
                    style="width: 200px; vertical-align:middle;">
                    <option></option>
                    <option>Running cluster</option>
                    <option>Previous captured instance</option>
                </select>
                <div class="pl-3" style='vertical-align:middle; display:inline;'>
                    <button class="btn btn-sm btn-outline-primary vpkfont-md "
                        onclick="dirStats()">
                        <span id="baseDir" class="float-left"></span>
                    </button>
                </div>                    
            </div> 

            <div id="messageDiv" class="collapse hide mt-1 mb-0 alert-secondary vpkfont-md">
                <div id="messageType" class="alert alert-warning fade show alert-secondary" role="alert">
                    <span id="messageText"></span>
                    <button type="button" class="close" onclick="hideMessage()">
                    <span>&times;</span>
                    </button>
                </div>
            </div>

            <ul id="tabs" class="nav nav-tabs">
                <li class="nav-item"><a id="instTab"       href="#instructions" data-target="#instructions" data-toggle="tab" class="nav-link small text-uppercase active">Overview</a></li>
                <li class="nav-item"><a id="tableTab"      href="#searchR"      data-target="#searchR"      data-toggle="tab" class="nav-link small text-uppercase">Table View</a></li>
                <li class="nav-item"><a id="graphicTab"    href="#graphic"      data-target="#graphic"      data-toggle="tab" class="nav-link small text-uppercase">Graphic View</a></li>
                <li class="nav-item"><a id="schematicTab"  href="#schematic"    data-target="#schematic"    data-toggle="tab" class="nav-link small text-uppercase">Schematics</a></li>
                <li class="nav-item"><a id="securityTab"   href="#security"     data-target="#security"     data-toggle="tab" class="nav-link small text-uppercase">Security</a></li>
                <li class="nav-item"><a id="xreferenceTab" href="#xreference"   data-target="#xreference"   data-toggle="tab" class="nav-link small text-uppercase">X-Reference</a></li>
            </ul>
            <br>

            <div id="tabsContent" class="tab-content">
                <div id="instructions" class="tab-pane active show">
                    <!-- Append the needed UI components -->
                    <%- include('partials/carousel') %>
                </div>

                <div id="searchR" class="tab-pane">
                    <!-- ==================================== -->
                    <!-- Filtered data results section        -->
                    <!-- ==================================== -->
                    <div class="grid">
                        <div id="filterdata" class="border rounded mt-1 collapse hide vpkcolor">
                            <div id="filter-bar-1" class="row filterBack pl-1 mt-1">
                                <div class="vpkfont-md mt-2" style="width: 250px;">
                                    Namespace(s) 
                                </div>                       
                                <div id="bar1-select" class="ml-1 mr-1 mt-1 vpkfont-md">
                                    <select id="ns-filter"  
                                        multiple="multiple" 
                                        style="width: 550px"
                                        id="bar1-options" >
                                        <option>all-namespaces</option>
                                        <option>&lt;cluster-level&gt;</option>
                                        <option>openshift</option>
                                        <option>default</option>
                                        <option>team01</option>
                                        <option>team02</option>
                                    </select>
                                </div>
                            </div>
        
                            <div id="filter-bar-2" class="row filterBack pl-1">
                                <div class="vpkfont-md mt-2" style="width: 250px;">
                                    Kind(s) 
                                </div>
                                <div id="bar2-select" class="ml-1 mr-1 mt-1 vpkfont-md">
                                    <select id="kind-filter"  
                                        multiple="multiple" 
                                        style="width: 550px"
                                        id="bar2-options" >
                                        <option>all-kinds</option>
                                        <option>Pod</option>
                                        <option>Deployment</option>
                                        <option>ConfigMap</option>
                                    </select>
                                </div>
                            </div>
        
        
                            <div id="filter-bar-3" class="row filterBack pl-1">
                                <div class="vpkfont-md mt-2" style="width: 250px;">
                                    Labels(s) 
                                </div>
                                <div id="bar3-select" class="ml-1 mr-1 mt-1 vpkfont-md">
                                    <select id="label-filter"  
                                        multiple="multiple" 
                                        style="width: 550px"
                                        id="bar3-options" >
                                        <option>key1 : value1</option>
                                        <option>key2 : value2</option>
                                        <option>key3 : value3</option>
                                        <option>key4 : value4</option>
                                        <option>key5 : value5</option>
                                    </select>
                                </div>
                            </div>
        
                            <div id="filter-bar-5" class="row filterBack pl-1">
                                <div class="vpkfont-md mt-2" style="width: 250px;">
                                    K8 resource kind name
                                </div>
                                <div id="bar5-select" class="ml-1 mr-1 mt-1 vpkfont-md" style="width: 550px;">
                                    <input type="text" class="form-control vpkfont-md" id="kind-name" placeholder="enter resource name">
                                </div>
                            </div>
        
                            <div id="filterTheData" class="row filterBack">
                                <div class="col-9">
                                    <span>
                                        &nbsp;
                                    </span>
                                </div>
                                <div class="col-3 mt-1 mb-1">
                                    <button type="button" class="btn btn-sm btn-primary vpkfont-md float-right vpkwhite" onclick="searchObj()">
                                    Apply filters
                                </button>
                                </div>
                            </div>
                        </div>  <!-- end of id="filterdata" -->
        
                        <div class="row">
                            <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                            <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                            <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                            <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        </div>
                    </div>
                    <!--  -->

                    <div class="float-right">
                        <button type="button" class="btn btn-sm btn-outline-primary vpkfont-md ml-1"
                            onclick="searchObj()">
                            Populate table
                        </button>
                        <button id="filterButton" type="button" class="btn btn-sm btn-outline-primary vpkfont-md ml-1"
                            data-toggle="collapse" data-target="#filterdata"
                            onclick="toggleFilterPanel()">
                            Open filter panel
                        </button>
                    </div>

                    <div id="searchResults">
                        <table id="tableL" class="table table-bordered table-sm"
                            data-buttons-class="primary"
                            data-buttons-prefix="btn-sm btn"
                            data-icon-size="sm"
                            data-loading-template="loadingTemplate"
                            data-maintain-meta-data="true"
                            data-page-list="[10, 25, 50, 100, 200, All]"
                            data-pagination="true"
                            data-pagination-v-align="both"
                            data-search="true"
                            data-search-highlight="true"
                            data-show-columns="true"
                            data-show-export="true"
                            data-show-fullscreen="true"
                            data-show-print="true"
                            data-show-refresh="true"
                            data-show-toggle="true"
                            data-sort-class="table-active"
                            data-sortable="true"
                            data-trim-on-search="false"
                            data-toggle="table"
                            data-visible="true"
                            >
                            <thead class='thead-light'>
                            <tr>
                                <th data-field="namespace"  data-sortable="true">Namespace</th>
                                <th data-field="kind"  data-sortable="true">Kind</th>
                                <th data-field="value" data-sortable="true">Kind Name</th>
                                <th data-field="src">File</th>
                                <th data-field="part">Part</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="col-md-12 mt-2 mb-3 p-0">
                        <span class="mr-2 vpkfont-md vpkcolor">
                            Click table row to view the resource yaml
                        </span>
                    </div>

                    <div class="container">
                        <div id="svgResults">
                        </div>
                    </div>
                </div>

                <div id="graphic" class="tab-pane">
                    <div class="grid mt-0 border rounded">
                        <div id="filterC" class="mb-1 vpkcolor">
                            <div id="filter-chart" class="row filterBack pl-1 ml-2 mt-1">
                                <div class="vpkfont-md" style="width: 250px;">
                                    Select namespaces to filter 
                                </div>                       
                                <div id="grachic-ns-select" class="ml-1 mr-1 vpkfont-md">
                                    <select id="graphic-ns-filter" 
                                        multiple="multiple" 
                                        style="width: 650px">
                                        <option>all-namespaces</option>
                                        <option>default</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="row vpkButtons mb-1 ml-1">
                            <div class="vpkcolor vpkfont-md ml-2" style="width: 240px;">
                                Select graphic to view
                            </div>

                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewChart01" onclick="getChart('hierarchy')">
                                &nbsp;Hierarchy&nbsp;
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewChart02" onclick="getChart('collapsible')">
                                    &nbsp;Collapsible&nbsp;
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewChart03" onclick="getChart('circlePack')">
                                    &nbsp;Circle Pack&nbsp;
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="row ml-1">
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                    </div>

                    <div class="mt-2 vpkfont vpkcolor" id="chartInfo">
                    </div>

                    <!-- <svg id="graphicCharts" width="950" height="50"></svg> -->
                    <div id="prtGraphic">
                        <svg id="graphicCharts2"></svg>
                    </div>

                </div>

                <div id="schematic" class="tab-pane">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="bldSchematic()">
                        &nbsp;Workload Schematics&nbsp;
                        </button>
                    </div>
                    <div id="schematicDetail" class="vpkfont">
                    </div>

                    <div class="row">
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                    </div>
                </div>

                <div id="security" class="tab-pane">
                    <div id="secUsageType" class="mb-1 vpkcolor grid mt-0 border rounded">
                        <div class="row filterBack pl-1 ml-2 mt-1">
                            <div class="mb-2 mr-2 align-middle vpkfont-md">
                                Select type 
                            </div>    
                            <div class="ml-1 mr-1 vpkfont-md">
                                <select id="usage-type" 
                                    style="width: 120px">
                                    <option></option>
                                    <option>All</option>
                                    <option>Role</option>
                                    <option>RoleBinding</option>
                                    <option>Subjects</option>
                                </select>
                            </div>

                            <div class="ml-4 mb-2 vpkfont-md">
                                Select filter value(s) 
                            </div>                       
                            <div class="ml-1 mr-1 mb-2 vpkfont-md">
                                <select id="usage-filter"  
                                    multiple="multiple" 
                                    style="width: 650px">
                                    <option>all-namespaces</option>
                                    <option>default</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="mb-2 mr-4 ml-3 mt-1 align-middle vpkfont-md vpkcolor">
                            Select information to view
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="bldSecurity()">
                            &nbsp;RBAC Definitions&nbsp;
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="bldSecurityUsage()">
                            &nbsp;RBAC Usage&nbsp;
                            </button>
                        </div>
                        <!-- <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="showSecurityStats()">
                            &nbsp;RBAC Stats&nbsp;
                            </button>
                        </div>                     -->
                    </div>

                    <div id="securityDetail" class="vpkfont">
                    </div>

                    <div class="row">
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                    </div>
                </div>

                <div id="xreference" class="tab-pane">
                    <div class="vpkfont vpkcolor mb-3">Create, maintain, and view custom cross reference information of K8 resource elements.
                        <span class="vpkfont text-secondary ml-1">(click the wrench icon to create or maintain xref definition)</span>
                    </div>


                    <div id="xrefUsageType" class="mb-1 vpkcolor grid mt-0 border">
                        
                        <div class="row filterBack pl-1 ml-2 mt-1">

                            <div class="mb-2 pt-1 align-middle vpkfont-md">
                                Select xref type 
                            </div> 

                            <div class="ml-1 mr-1 vpkfont-md">
                                <select id="xref-type"  
                                    style="width: 300px">
                                    <option></option>
                                    <option>Secrets : Secrets defined in environment</option>
                                </select>
                            </div>

                            <div class="ml-4 mb-2 pt-1 vpkfont-md">
                                Select filter value 
                            </div>                       
                            <div class="ml-1 mr-1 mb-2 vpkfont-md">
                                <select id="xref-filter"  
                                    multiple="multiple" 
                                    style="width: 650px">
                                    <option></option>
                                </select>
                            </div>
                        </div>

                    </div>


                    <div class="row vpkButtons mb-1 ml-1">
                        <div class="vpkcolor vpkfont-md ml-2 pt-1" style="width: 240px;">
                            Select xref view
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="xrefChart01" onclick="bldXrefChart('hierarchy')">
                            &nbsp;Hierarchy&nbsp;
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="xrefChart02" onclick="bldXrefChart('collapsible')">
                                &nbsp;Collapsible&nbsp;
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="xrefChart03" onclick="bldXrefChart('circlePack')">
                                &nbsp;Circle Pack&nbsp;
                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                        <div class="col-3 hr-width m-0 p-0"><hr class="mt-1 mb-1"></div>
                    </div>

                    <div class="mt-2 vpkfont vpkcolor" id="xrefInfo">
                    </div>

                    <div id="prtXref">
                        <svg id="xrefCharts2"></svg>
                    </div>
                </div>


            </div>

            <!-- ==================================== -->
            <!-- Tool tips are shown here             -->		        
            <!-- ==================================== -->
            <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

        </div>

        <!-- Append the needed modals -->
        <%- include('partials/modals') %>
        <%- include('partials/xrefModal') %>


    </div>  <!-- End of Wrapper -->
</body>
  
  <!-- Append the needed scripts -->
  <%- include('partials/scripts') %>

</html>
