<!--
        Copyright (c) 2018-2020 Dave Weilert

        Permission is hereby granted, free of charge, to any person obtaining
        a copy of this software and associated documentation files (the
        "Software"), to deal in the Software without restriction, including
        without limitation the rights to use, copy, modify, merge, publish,
        distribute, sublicense, and/or sell copies of the Software, and to
        permit persons to whom the Software is furnished to do so, subject to
        the following conditions:

        The above copyright notice and this permission notice shall be
        included in all copies or substantial portions of the Software.

        THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
        EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
        MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
        NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
        LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
        OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
        WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
-->

<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/head') %>
  </head>
  <body>    
    <div id="banner" class="">
        <div id="header-bar" class="header ml-1 mr-0 pt-1 pb-1">
            <!-- <span onclick="printDiv()"> -->
            <span onclick="getDocumentation('toc')">
            <img style='vertical-align:middle;' src='images/vpk-flip.gif' width='30' height='30'  >
            <div style='vertical-align:middle; display:inline;' class='vpkcolor vpkfont pl-2'>
                <span class="vpkfont-lg">V</span><span class="vpkfont">isual </span>
                <span class="vpkfont">p</span></span><span class="vpkfont">arsed</span> 
                <span class="vpkfont-lg">K</span></span><span class="vpkfont">ubernetes</span>
            </div>
            </span>
            <div class="header-right">
                <a href="javascript:getDocumentation()">
                    <i class="fas fa-question mr-3 vpkcolor"></i>
                </a>
                <a href="javascript:about()">
                    <i class="fas fa-info-circle fa-lg mr-3 vpkcolor"></i>
                </a>
                <a href="javascript:showConfig()">
                    <i class="fas fa-cog fa-lg vpkcolor"></i>
                </a>
            </div>
        </div> 
        <div id="datasource" class="header vpkfont-md pt-0 pb-2 ml-5">
            <div class="ml-2">
                <select id="pickDataSource" 
                    class="vpkfont-md pl-3"
                    style="width: 200px; vertical-align:middle;">
                    <option></option>
                    <option>Running cluster</option>
                    <option>Previous captured snapshot</option>
                </select>
                <div class="pl-3" style='vertical-align:middle; display:inline;'>
                    <button class="btn btn-sm btn-outline-primary vpkfont-md "
                        onclick="dirStats()">
                        <span id="baseDir" class="float-left"></span>
                    </button>
                </div>    
            </div>                
        </div> 
        <div id="messageDiv" class="collapse hide mt-0 mb-0 vpkfont-md">
            <div id="messageType" class="alert alert-dark fade show pt-2 pb-2" role="alert">
                <span id="messageText"></span>
                <button type="button" class="close pt-0" onclick="hideMessage()">
                <span>&times;</span>
                </button>
            </div>
        </div>
        <ul id="tabs" class="nav nav-tabs ml-3 mr-3">
            <li class="nav-item"><a id="instTab"       href="#instructions" data-target="#instructions" data-toggle="tab" class="nav-link small text-uppercase active">Overview</a></li>
            <li class="nav-item"><a id="tableTab"      href="#tableview"    data-target="#tableview"    data-toggle="tab" class="nav-link small text-uppercase">Table View</a></li>
            <li class="nav-item"><a id="graphicTab"    href="#graphic"      data-target="#graphic"      data-toggle="tab" class="nav-link small text-uppercase">Graphic View</a></li>
            <li class="nav-item"><a id="schematicTab"  href="#schematic"    data-target="#schematic"    data-toggle="tab" class="nav-link small text-uppercase">Schematics</a></li>
            <li class="nav-item"><a id="securityTab"   href="#security"     data-target="#security"     data-toggle="tab" class="nav-link small text-uppercase">Security</a></li>
            <li class="nav-item"><a id="storageTab"    href="#storage"      data-target="#storage"      data-toggle="tab" class="nav-link small text-uppercase">Storage</a></li>
            <li class="nav-item"><a id="clusterTab"    href="#cluster"      data-target="#cluster"      data-toggle="tab" class="nav-link small text-uppercase">Cluster</a></li>
            <li class="nav-item"><a id="xreferenceTab" href="#xreference"   data-target="#xreference"   data-toggle="tab" class="nav-link small text-uppercase">X-Reference</a></li>
            <li class="nav-item"><a id="ownerliksTab"  href="#ownerlinks"   data-target="#ownerlinks"   data-toggle="tab" class="nav-link small text-uppercase">OwnerRef Links</a></li>
            <li class="nav-item"><a id="compareTab"    href="#comparesnap"  data-target="#comparesnap"  data-toggle="tab" class="nav-link small text-uppercase">Compare Snapshots</a></li>
        </ul>
    </div>


    <div id="viewarea" class="">
        <div id="tabsContent" class="tab-content">
            <div id="instructions" class="tab-pane active show">
                <!-- Append the needed UI components -->
                <div class="mt-5 ml-5 mr-5 mb-5">
                    <span class="vpkfont">Visual parsed Kubernetes is an application working to bring understanding 
                        and insight to the Kubernetes universe.
                        The software is a read-only tool that captures a snapshot of a Kubernetes cluster.  After the snapshot is captured
                        the information regarding the cluster is available to analyze and view.  Viewing the snapshot data is accomplished 
                        without access or connection to the cluster. 
                    </span>
                </div>

                <%- include('partials/carousel') %>

                <div class="mt-5 text-center ">
                    <p>
                        <span class="mt-5 ml-5 vpkfont vpkcolor">
                            The software is open source and free. 
                            </span>
                    </p>

                </div>
            </div>


            <div id="tableview" class="tab-pane">
                <!-- ==================================== -->
                <!-- Filtered data results section        -->
                <!-- ==================================== -->
                <div class="grid ml-2 mr-2">
                    <div id="filterdata" class="border rounded mt-1 collapse hide vpkcolor">
                        <div id="filter-bar-1" class="row filterBack pl-1 mt-1">
                            <div class="vpkfont-md mt-2" style="width: 250px;">
                                Namespace(s) 
                            </div>                       
                            <div id="bar1-select" class="ml-1 mr-1 mt-1 vpkfont-md">
                                <select id="ns-filter"  
                                    multiple="multiple" 
                                    style="width: 550px"
                                    id="bar1-options" >
                                    <option>all-namespaces</option>
                                    <option>&lt;cluster-level&gt;</option>
                                    <option>openshift</option>
                                    <option>default</option>
                                    <option>team01</option>
                                    <option>team02</option>
                                </select>
                            </div>
                        </div>        
                        <div id="filter-bar-2" class="row filterBack pl-1">
                            <div class="vpkfont-md mt-2" style="width: 250px;">
                                Kind(s) 
                            </div>
                            <div id="bar2-select" class="ml-1 mr-1 mt-1 vpkfont-md">
                                <select id="kind-filter"  
                                    multiple="multiple" 
                                    style="width: 550px"
                                    id="bar2-options" >
                                    <option>all-kinds</option>
                                    <option>Pod</option>
                                    <option>Deployment</option>
                                    <option>ConfigMap</option>
                                </select>
                            </div>
                        </div>        
                        <div id="filter-bar-3" class="row filterBack pl-1">
                            <div class="vpkfont-md mt-2" style="width: 250px;">
                                Labels(s) 
                            </div>
                            <div id="bar3-select" class="ml-1 mr-1 mt-1 vpkfont-md">
                                <select id="label-filter"  
                                    multiple="multiple" 
                                    style="width: 550px"
                                    id="bar3-options" >
                                    <option>key1 : value1</option>
                                    <option>key2 : value2</option>
                                    <option>key3 : value3</option>
                                    <option>key4 : value4</option>
                                    <option>key5 : value5</option>
                                </select>
                            </div>
                        </div>        
                        <div id="filter-bar-5" class="row filterBack pl-1">
                            <div class="vpkfont-md mt-2" style="width: 250px;">
                                K8 resource kind name
                            </div>
                            <div id="bar5-select" class="ml-1 mr-1 mt-1 vpkfont-md" style="width: 550px;">
                                <input type="text" class="form-control vpkfont-md" id="kind-name" placeholder="partial or complete name resource name">
                            </div>
                        </div>        
                        <div id="filterTheData" class="row filterBack pl-1">
                            <div class="vpkfont-md mt-2" style="width: 250px;">
                                Press button to apply filter
                            </div>
                            <div class="col-2 mt-1 mb-1 pl-1">
                                <button type="button" class="btn btn-sm btn-primary vpkfont-md float-left vpkwhite" onclick="searchObj()">
                                Apply filters
                            </button>
                            </div>
                        </div>
                    </div>  
                </div>

                <div id="tableviewActions" class="float-left mt-1 mb-1 ml-1">
                    <button type="button" class="btn btn-sm btn-outline-primary vpkfont-md ml-1"
                        onclick="searchObj()"><span onclick="searchObj()">
                        Populate table</span>
                    </button>
                    <button id="filterButton" type="button" class="btn btn-sm btn-outline-primary vpkfont-md ml-1 mr-2"
                        data-toggle="collapse" data-target="#filterdata"
                        onclick="toggleFilterPanel()">
                        Open filter panel
                    </button>
                </div>

                <div id="searchResults" class="ml-2 mr-2 mt-1">
                    <table id="tableL" class="table table-bordered table-sm"
                        data-buttons-class="primary"
                        data-buttons-prefix="btn-sm btn"
                        data-icon-size="sm"
                        data-loading-template="loadingTemplate"
                        data-maintain-meta-data="true"
                        data-page-list="[10, 25, 50, 100, 200, All]"
                        data-pagination="true"
                        data-pagination-v-align="both"
                        data-search="true"
                        data-search-highlight="true"
                        data-show-columns="true"
                        data-show-export="true"
                        data-show-fullscreen="true"
                        data-show-print="true"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-sort-class="table-active"
                        data-sortable="true"
                        data-trim-on-search="false"
                        data-toggle="table"
                        data-visible="true"
                        >
                        <thead class='thead-light'>
                        <tr>
                            <th data-field="namespace"  data-sortable="true">Namespace</th>
                            <th data-field="kind"  data-sortable="true">Kind</th>
                            <th data-field="value" data-sortable="true">Kind Name</th>
                            <th data-field="src">Fnum</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="col-md-12 ml-2 mt-2 mb-3 p-0">
                    <span class="mr-2 vpkfont-md vpkcolor">
                        Click table row to view the resource yaml
                    </span>
                </div>
            </div>


            <div id="graphic" class="tab-pane">
                <div class="grid mt-1 mr-2 ml-2 border rounded">
                    <div id="filterC" class="mb-1 vpkcolor">
                        <div id="filter-chart" class="row filterBack pl-1 ml-2 mt-1">
                            <div class="vpkfont-md" style="width: 250px;">
                                Select namespaces to filter 
                            </div>                       
                            <div id="grachic-ns-select" class="ml-1 mr-1 vpkfont-md">
                                <select id="graphic-ns-filter" 
                                    multiple="multiple" 
                                    style="width: 650px">
                                    <option>all-namespaces</option>
                                    <option>default</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row vpkButtons mb-1 ml-1">
                        <div class="vpkcolor vpkfont-md ml-2" style="width: 240px;">
                            Select graphic to view
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewChart01" onclick="getChart('hierarchy')">
                            &nbsp;Hierarchy&nbsp;
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewChart02" onclick="getChart('collapsible')">
                                &nbsp;Collapsible&nbsp;
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewChart03" onclick="getChart('circlePack')">
                                &nbsp;Circle Pack&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-2 vpkfont vpkcolor" id="chartInfo">
                </div>
                <div id="prtGraphic" class="ml-3 mr-3">
                    <svg id="graphicCharts2"></svg>
                </div>
            </div>


            <div id="schematic" class="tab-pane">
                <div class="mt-1 ml-2 mr-2 border rounded">
                    <div class="col-md-2 mt-1 mb-1 ml-3">
                        <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="bldSchematic()">
                        &nbsp;Build Schematic diagrams&nbsp;
                        </button>
                    </div>
                </div>
                <div id="schematicDetail" class="vpkfont">
                </div>
            </div>


            <div id="security" class="tab-pane">
                <div class="row ml-2 mt-1 mb-2 mr-2 border rounded">
                    <div class="align-middle vpkfont-md vpkcolor ml-2 mb-2 mt-2">
                        Select information to view
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="bldSecurity()">
                        &nbsp;RBAC Definitions&nbsp;
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="bldSecurityUsage()">
                        &nbsp;RBAC Usage&nbsp;
                        </button>
                    </div>
                </div>
                <div id="securityDetail" class="vpkfont">
                </div>
            </div>


            <div id="xreference" class="tab-pane">
                <div id="xrefUsageType" class="mb-1 vpkcolor grid ml-2 mr-2 mt-1 border rounded">
                    <div class="row filterBack pl-1 ml-2 mt-1">
                        <div class="mb-2 pt-1 align-middle vpkfont-md">
                            Select xref  
                        </div> 
                        <div class="ml-1 mr-1 vpkfont-md">
                            <select id="xref-type"  
                                style="width: 300px">
                                <option></option>
                                <option>Secrets : Secrets defined in environment</option>
                            </select>
                        </div>

                        <div class="vpkcolor vpkfont-md ml-5 pt-1" style="width: 100px;">
                            Select view
                        </div>

                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="xrefChart01" onclick="bldXrefChart('hierarchy')">
                            &nbsp;Hierarchy&nbsp;
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="xrefChart02" onclick="bldXrefChart('collapsible')">
                                &nbsp;Collapsible&nbsp;
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="xrefChart03" onclick="bldXrefChart('circlePack')">
                                &nbsp;Circle Pack&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
                <div class="mt-2 vpkfont vpkcolor" id="xrefInfo">
                </div>
                <div id="prtXref" class="ml-3 mr-3">
                    <svg id="xrefCharts2"></svg>
                </div>
            </div>


            <div id="storage" class="tab-pane">
                <div class="row ml-2 mt-1 mb-2 mr-2 border rounded">
                    <div class="align-middle vpkfont-md vpkcolor ml-2 mb-2 mt-2">
                        Select information to view
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewSchematic" onclick="getStorageInfo()">
                        &nbsp;Request storage&nbsp;
                        </button>
                    </div>
                </div>

                <!-- Append the needed UI components -->
                <div id="storageDetail" class="ml-2 mt-1">

                </div>
            </div>                


            <div id="cluster" class="tab-pane">
                <div class="grid mt-1 ml-2 mr-2 mb-2 border rounded">
                    <div class="row vpkButtons mb-1 ml-1 mt-1">
                        <div class="vpkcolor vpkfont-md ml-2" style="width: 240px;">
                            Select view
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-outline-primary btn-sm vpkButtons" id="viewChart01" onclick="getClusterTabInfo()">
                            &nbsp;Cluster&nbsp;
                            </button>
                        </div>
                    </div>
                </div>
                <div id="clusterDetail" class="mr-2">                        
                </div>
            </div>  
            
            
            <div id="comparesnap" class="tab-pane">
                <div class="grid mt-1 ml-2 mr-2 mb-2 border rounded">
                    <!-- <div id="comparesources" class="header vpkfont-md pt-0 pb-2 ml-5"> -->
                        <div class="ml-3 mt-2 vpkcolor vpkfont-md">
                            <p>Select snapshots, sorting, and viewing results.
                                Once selected press the Compare button.
                            </p>
                        </div>

                        <div class="ml-0 mt-2 vpkfont-md">
                            <span class="vpkfont-md vpkcolor ml-3">Snapshots:</span>
                            <div class="pl-3" style='vertical-align:middle; display:inline;'>
                                <button class="btn btn-sm btn-outline-primary vpkfont-md "
                                    onclick="getCompareSnap('1')">
                                    <span id="firstSnapDir" class="float-left">Snapshot 1</span>
                                </button>
                            </div> 
                            
                            <div class="pl-3" style='vertical-align:middle; display:inline;'>
                                <button class="btn btn-sm btn-outline-primary vpkfont-md "
                                    onclick="getCompareSnap('2')">
                                    <span id="secondSnapDir" class="float-left">Snapshot 2</span>
                                </button>
                            </div>   

                            <div class="pl-3" style='vertical-align:middle; display:inline;'>
                                <span class="vpkfont-md vpkcolor ml-5">Sorting: &nbsp;&nbsp;&nbsp;First by</span>
                                <div class="ml-1 mt-1" style="display: inline;">
                                    <select id="compareSort1" 
                                        class="vpkfont-md pl-3"
                                        style="width: 100px; vertical-align:middle;">
                                        <option></option>
                                        <option>Namespace</option>
                                        <option>Name</option>
                                        <option>Kind</option>
                                    </select>
                                </div>
                            </div>

                            <div class="pl-1" style='vertical-align:middle; display:inline;'>
                                <span class="vpkfont-md vpkcolor ml-1">Second by</span>
                                <div class="ml-1 mt-1" style="display: inline;">
                                    <select id="compareSort2" 
                                        class="vpkfont-md pl-3"
                                        style="width: 100px; vertical-align:middle;">
                                        <option></option>
                                        <option>Namespace</option>
                                        <option>Name</option>
                                        <option>Kind</option>
                                     </select>
                                </div>
                            </div>

                            <div class="pl-1" style='vertical-align:middle; display:inline;'>
                                <span class="vpkfont-md vpkcolor ml-5">View Results</span>
                                <div class="ml-1 mt-1" style="display: inline;">
                                    <select id="compareView" 
                                        class="vpkfont-md pl-3"
                                        style="width: 100px; vertical-align:middle;">
                                        <option></option>
                                        <option>All</option>
                                        <option>Matching</option>
                                        <option>Non-matching</option>
                                     </select>
                                </div>
                            </div>

                            <div class="pl-5" style='vertical-align:middle; display:inline;'>
                                <button class="btn btn-sm btn-outline-primary vpkfont-md ml-5"
                                    onclick="compareSnapshots()">
                                    <span id="snapCompare" class="float-left">Compare snapshots</span>
                                </button>
                            </div>
                        </div>                
                        <div class="ml-2 mt-2">
                            <div class="vpkfont-md vpkcolor ml-2"><b>Snapshot 1:&nbsp;</b> <span id="firstSnap"  class="vpkfont-md vpkcolor"></span>
                            </div>    
                            <div class="vpkfont-md vpkcolor ml-2"><b>Snapshot 2:&nbsp;</b> <span id="secondSnap" class="vpkfont-md vpkcolor"></span>
                            </div>    
                        </div>
                    <!-- <div> -->
                </div>

                <div id="compareDetail" class="mr-2 ml-2 mt-2">                        
                </div>

            </div>

            <div id="ownerlinks" class="tab-pane">
                <div class="grid mt-1 ml-2 mr-2 mb-2 border rounded">
                    <div class="row vpkButtons mb-1 ml-1 mt-1">
                        <div class="vpkcolor vpkfont-md ml-2 mt-2" style="width: 75px;">
                            Sort first by
                        </div>
                        <div class="ml-2 mt-1">
                            <select id="ownerSort1" 
                                class="vpkfont-md pl-3"
                                style="width: 100px; vertical-align:middle;">
                                <option></option>
                                <option>Kind</option>
                                <option>Namespace</option>
                                <option>Levels</option>
                            </select>
                        </div>
                        <div class="vpkcolor vpkfont-md ml-4 mt-2" style="width: 90px;">
                            Sort second by
                        </div>
                        <div class="ml-2 mt-1">
                            <select id="ownerSort2" 
                                class="vpkfont-md pl-3"
                                style="width: 100px; vertical-align:middle;">
                                <option></option>
                                <option>Kind</option>
                                <option>Namespace</option>
                                <option>Levels</option>
                            </select>
                        </div>

                        <div class="col-md-2 mt-1 ml-4">
                            <button type="button" class="btn btn-outline-primary vpkButtons pl-2 pt-1 pb-1 pr-2" id="viewChart01" onclick="getOwnerRefLinks()">
                                <span>Retrieve data</span>
                            </button>
                        </div>
                    </div>
                </div>
                
                <div id="ownerRefLinksDetail" class="mr-2">                        
                </div>
            </div> 
        </div>  

        <!-- ==================================== -->
        <!-- Tool tips are shown here             -->		        
        <!-- ==================================== -->
        <div id="tooltip" display="none" style="position: absolute; display: none;"></div>

    </div>

    <!-- Append the needed modals -->
    <%- include('partials/modals') %>
    <%- include('partials/xrefModal') %>


</body>
  
  <!-- Append the needed scripts -->
  <%- include('partials/scripts') %>

</html>
